@import url('https://fonts.googleapis.com/css?family=Raleway:500&display=swap');
$light-green: #4e987c;
$green: #227e5b;

.TopWelcome{
    font-family: 'Raleway', serif;
    grid-area: 2/2;
    z-index: 10;
    background-color: $green;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    min-width: 0;
    min-height: 0;
    list-style-type: none;

    .logo {
        grid-area: 2/6/10/10;
        position: relative;

        img {
            position: absolute;
            width: 85%;
            right: 10%;
            transform: translate(10%, 1%);
        }
    }

    .logoText {
        grid-column: 2;
        position: relative;

        h1 {
            position: absolute;
            font-size: 4.5vw;
            width: 100%;
            top: 90%;
            left: 5%;
            transform: translate(-5%, 90%);
        }
    }

    .titleDescription {
        grid-area: 5/2/5/5;
        position: relative;

        p {
            position: absolute;
            font-size: 2vw;
            color: white;
            width: 100%;
        }
            
    }

}
