$mineShaft: #333333;
$tundora: #4A4A4A;
$dustyGray: #9B9B9B;
$gallery: #F0F0F0;

@mixin labelInput{
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid $tundora;
  color: white;
  font-size: 25px;
  letter-spacing: 1px;
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s;
  width: 200px;

  
  &:focus {
  
    max-width: 100%;
    width: 350px;
  
    & + .labelText {

      color: $gallery;
    }
  }
}



.loginForm{

    text-align: center;
  
    .loginLabel{
      
      display: block;
      letter-spacing: 4px;
      padding-top: 30px;
      text-align: center;
    }
  
    .labelText{
      color: $dustyGray;
      cursor: text;
      font-size: 20px;
      line-height: 30px;
     transition: all 0.3s;
    }
      
    .validLabelInput{
      @include labelInput;     
    }

    .invalidLabelInput{
      @include labelInput;
      border-bottom: 1px solid red;
    }
        
    .loginButton{
      background-color: $mineShaft;
      border: 2px solid white;
      border-radius: 27px;
      color: white;
      cursor: pointer;
      font-size: 20px;
      margin-top: 20px;
      padding: 15px 30px;
      text-transform: uppercase;
     transition: all 200ms;
      
      &:hover, &:focus{
  
        background-color: white;
        color: $mineShaft;
        outline: 0;
      }
    }
    
  }