@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    font-family: 'Josefin Sans';
    .App{
        height: 100vh;
        display: grid;
        grid-template-columns:  12% 76% 12%;
        grid-template-rows: 60% 40% 90% 30% 30%;
    }
}
