@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    font-family: 'Lato', sans-serif;
    .App {
        height: 100vh;
        display: grid;
        grid-template-columns:  100%;
        grid-template-rows: 5% 60% 45% 90% 30% 30%;
    }
}
