.BrowseList{
    grid-template-columns: 12% 76% 12%;
    grid-template-rows: fit-content(auto);
    overflow: scroll;
    resize: vertical;
    display: grid;
    grid-area: 3/1/4/2;
    background-color: #F6FAF9;
    box-sizing: border-box;
    margin: 0;

 
    .DomainsList{
     grid-area: 2/2/3/3;
     text-align: left;
     padding-left: 12px;
     padding-right: 12px; 
     
    
    
        .Name{
        border-bottom: 1px solid #6a737c;
        }
        .Time{
        line-height: 1;
        width: auto;
        height: auto;
        border-radius: 3px;
        min-width: auto;
        text-align: right;
        font-weight: bold;
        
        font-size: 12px;
        margin-bottom: 0;
        overflow: hidden;
        color: #6a737c;
        }
        
        .safety{
        padding: 4px 0;
        line-height: 1;
        box-sizing: border-box;
        width: auto;
        height: auto;
        border-radius: 3px;
        min-width: auto;
        text-align: left;
        margin: 0 4px 0 0;
        font-weight: bold;
        display: inline-grid;
        font-size: 12px;
        margin-bottom: 0;
        overflow: hidden;
    
        .mini-counts{
        color: #6a737c;
        display: inline;
        
    }
    }
        
    }
    

ul {
  font-family: monospace;
  font-size: 2em;
  list-style: none;
  margin: 2em;
  padding: 0;
  
 li {
    clear:both;
    margin: 0;
    margin-bottom: 5px;
    padding-left: 1.5em;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    background-color: transparent;
   
  }
  
}

li:hover {
  animation: pulse 1s infinite;
  transition: .3s;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(.95);
  }
    100% {
    transform: scale(1);
  }
}  
    
}